---
import '../styles/global.css';
// Component Imports
import Header from "../components/Header.astro"
import SectionTitle from "../components/SectionTitle.astro"
import SectionBeneficios from "../components/SectionBeneficios.astro"
import SectionParaQuien from "../components/SectionParaQuien.astro"
import SectionTemario from "../components/SectionTemario.astro"
import SectionBonus from '@/components/SectionBonus.astro'
import SectionTestimonios from "@/components/SectionTestimonios.astro"
import SectionFaq from "@/components/SectionFaq.astro"
import SectionContacto from "../components/SectionContacto.astro";
import Footer from "../components/Footer.astro";
// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/IconoReparacion.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Academia yo desbloqueo y reparo</title>
	</head>

	<Header/>

	<body class="bg-[#F3F4F6]">

		<SectionTitle/>
		<SectionBeneficios/>
		<SectionParaQuien/>
		<SectionTemario/>
		<SectionBonus/>
		<SectionTestimonios/>
		<SectionFaq/>
		<SectionContacto/>
		<Footer/>

	</body>
</html>
