---
import '../styles/global.css';
// Component Imports
import Header from "../components/Header.astro"
import SectionTitle from "../components/SectionTitle.astro"

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/IconoReparacion.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Academia yo desbloqueo y reparo</title>
	</head>

	<body>
		<Header/>
		<SectionTitle/>
	</body>
</html>
